---
import BaseLayout from "@lib/layouts/BaseLayout.astro";

let pats = [
    { path: "fit-square", name: "fit square" },
    // { path: "snap-to-mouse", name: "snap and glide" },
    { path: "quad-tree", name: "quad tree" },
    { path: "spiral", name: "spiral" },
];
---

<BaseLayout title="gen design">
    <ul>
        {
            pats.map(({ path, name }) => {
                return (
                    <li>
                        <h2>
                            <span>&RightTeeArrow;</span>
                            <a href={path}>{name}</a>
                        </h2>
                    </li>
                );
            })
        }
    </ul>
</BaseLayout>

<style>
    ul {
        text-align: center;
        justify-self: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>
