---
import CrystalsGenerator from "@lib/components/SVGGenerators/CrystalsGenerator.astro";
import WorksLayout from "@lib/layouts/WorksLayout.astro";

export const prerender = false;
const searchParams = Astro.url.searchParams;

const dimX = +searchParams.get("dimension-x") || 3;
const dimY = +searchParams.get("dimension-y") || 3;
---

<WorksLayout title="Crystals">
  <section>
    <h4>crystals</h4>
    <form method="get">
      <fieldset>
        <legend>grid dimension</legend>
        <label>
          x:
          <input
            type="number"
            name="dimension-x"
            min="2"
            max="7"
            value={dimX}
          />
        </label>
        <label>
          y:
          <input
            type="number"
            name="dimension-y"
            min="2"
            max="7"
            value={dimY}
          />
        </label>
      </fieldset>
      <button type="submit">fetch</button>
    </form>
  </section>
  <CrystalsGenerator dimension={{ x: dimX, y: dimY }} />
</WorksLayout>

<style>
  figure {
    align-self: center;
    max-width: 512px;
    grid-column: 2/5;
    justify-self: center;

    display: grid;
    grid-template-rows: min-content min-content;
  }
</style>
