---
import BaseLayout from "@lib/layouts/BaseLayout.astro";
const images = await Astro.glob("/src/assets/filter/img/*").then((files) =>
  files.map((file) => file.default)
);
---

<BaseLayout title="filter">
  <div class="filter-grid">
    {
      images.map((image) => {
        return (
          <img src={image.src} width={1024} height={1024} loading="lazy" />
        );
      })
    }
  </div>
</BaseLayout>

<style>
  .filter-grid {
    /* display: grid;
    gap: 16px;
    justify-items: center; */
    /* width: 100%; */
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(512px, 1fr));
    /* grid-auto-rows: 384px; */
    /* columns: 512px 2; */
  }

  .snap-grid img {
    /* object-fit: contain; */
    /* height: 100%;
    width: 100%; */
  }
</style>
