---
import BaseLayout from "@lib/layouts/BaseLayout.astro";
const images = await Astro.glob("/src/assets/filter/img/*").then((files) =>
    files.map((file) => file.default)
);
---

<BaseLayout title="filter">
    <div class="filter-grid">
        {
            images.map((image) => {
                return (
                    <img
                        src={image.src}
                        width={1024}
                        height={1024}
                        loading="lazy"
                    />
                );
            })
        }
    </div>
</BaseLayout>

<style>
    img {
        height: auto;
        aspect-ratio: 1/1;
    }
    .filter-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }

    @media (max-width: 1024px) {
        .filter-grid {
            grid-template-columns: 1fr;
        }
    }
</style>
