---
import Grid from "@lib/components/Grid.astro";
import Card from "@lib/components/card/Card.astro";
import BaseLayout from "@lib/layouts/BaseLayout.astro";
---

<BaseLayout title="Works">
    <!-- <Grid> -->
    <div class="grid">
        <a href="/works/loops" data-row="5" data-column="3">
            <Card bgColor="dark" variant="outline">
                <img
                    src="/src/assets/gen/posters/loop4.jpeg"
                    slot="illustration"
                    width="512px"
                    height="512px"
                    style="object-fit: cover;transform:scale(1.25)"
                />
            </Card>
        </a>
        <a href="/works/filter" data-column="3" data-row="6">
            <Card variant="outline" bgColor="dark" blend={true}>
                <img
                    src="/src/assets/filter/img/filter5.jpeg"
                    slot="illustration"
                    width="512px"
                    height="512px"
                    style="object-fit: cover; transform:scale(1.25) translateY(10%)"
                />
            </Card>
        </a>
        <a href="/works/snap-seed">
            <Card title="snap-seed" bgColor="ternary" variant="inverse">
                <img
                    src="/src/assets/seed/img/seed2.jpeg"
                    slot="illustration"
                    width="512px"
                    height="512px"
                    style="object-fit: cover;"
                />
            </Card>
        </a>
    </div>
    <!-- </Grid> -->
</BaseLayout>

<style>
    a {
        display: grid;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
</style>
