---
import WorksLayout from "@lib/layouts/WorksLayout.astro";
import { range } from "@lib/utils/iter";
const videos = await Astro.glob("/src/assets/gen/video/*").then((files) =>
    files.map((file) => file.default)
);
const posters = await Astro.glob("/src/assets/gen/posters/*").then((files) =>
    files.map((file) => file.default)
);
---

<WorksLayout title="Loops">
    <div class="loops-grid">
        {
            videos.map((video, i) => {
                return (
                    <video
                        controls
                        preload="none"
                        poster={posters[i].src}
                        src={video}
                    />
                );
            })
        }
    </div>
</WorksLayout>

<style>
    .loops-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }

    @media (max-width: 1024px) {
        .loops-grid {
            grid-template-columns: 1fr;
        }
    }
</style>
