---
import WorksLayout from "@lib/layouts/WorksLayout.astro";
import { range } from "@lib/utils/iter";
const images = await Astro.glob("/src/assets/seed/img/*").then((files) => {
    return files.map((file) => file.default);
});
---

<WorksLayout title="snap-seed">
    <div class="snap-grid">
        {
            images.map((img) => {
                return (
                    <img
                        src={img.src}
                        width={1024}
                        height={1024}
                        loading="lazy"
                    />
                );
            })
        }
    </div>
</WorksLayout>

<style>
    .snap-grid {
        display: grid;
        gap: 8px;
        grid-template-columns: repeat(2, 1fr);
    }

    .snap-grid img {
        height: 100%;
        /* width: 100%; */
        aspect-ratio: 1/1;
    }
</style>
