---
import WorksLayout from "@lib/layouts/WorksLayout.astro";
const images = await Astro.glob("/src/assets/squares/*").then((files) => {
    return files.map((file) => file.default);
});
---

<WorksLayout title="snap-seed">
    <div class="draft-grid">
        {
            images.map((img) => {
                return (
                    <img
                        src={img.src}
                        width={img.width}
                        height={img.height}
                        loading="lazy"
                    />
                );
            })
        }
    </div>
</WorksLayout>

<style>
    .draft-grid {
        gap: 32px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 1024px) {
        .draft-grid {
            grid-template-columns: 1fr;
        }
    }
    img {
        height: auto;
        aspect-ratio: 1/1;
    }
</style>
