* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img,
video,
svg {
  display: block;
  max-width: 100%;
}
img,
picture,
video {
  object-fit: cover;
}

a {
  /* text-decoration: none; */
  text-decoration: underline 1px;
  text-underline-offset: 4px;
  text-decoration-skip-ink: none;
  color: currentColor;
}
