---
import Splash2 from "@lib/components/splash2.astro";
import BaseLayout from "@lib/layouts/BaseLayout.astro";
---

<BaseLayout fullScreen={true} title="Home">
    <div class="inner">
        <Splash2 />
    </div>
</BaseLayout>

<style>
    .inner {
        display: grid;
        margin-inline: auto;
        height: 100%;
        aspect-ratio: 1/1;
        max-width: 100%;
    }

    .inner {
        container-type: size;
        container-name: main-info;
    }

    @container main-info not (min-aspect-ratio:1/1) {
        .inner :global(svg) {
            height: 100%;
        }
        .inner :global(svg .shapes) {
            /* transform: rotate(-45deg); */
        }
    }
    @container main-info (max-aspect-ratio: 7/10) {
        .inner :global(svg) {
            transform: scale(0.9);
        }
    }
</style>
