---
import Splash2 from "@lib/components/splash2.astro";
import BaseLayout from "@lib/layouts/BaseLayout.astro";
---

<BaseLayout fullScreen={true} title="home">
    <div class="inner">
        <Splash2 />
    </div>
</BaseLayout>

<style>
    .inner {
        height: 100%;
    }
</style>
