---
import Dot from "@lib/components/vv/shapes/dot.astro";
import Illustration from "@lib/components/vv/shapes/illustration.astro";
import Shape from "@lib/components/vv/shapes/shape.astro";
import BaseLayout from "@lib/layouts/BaseLayout.astro";
export const prerender = false;
---

<BaseLayout>
  <div class="inner">
    <Illustration>
      <Shape id={0}>
        <Dot id={0} />
      </Shape>
      <Shape id={1} />
    </Illustration>
  </div>
</BaseLayout>

<style>
  .inner {
    display: grid;
    margin-inline: auto;
    height: 100%;
    aspect-ratio: 1/1;
    max-width: 100%;
  }
</style>
