---
import "@styles/main.css";

// import ViewTransitions from "astro/components/ViewTransitions.astro";
import Nav from "@lib/components/Nav.astro";
import { ClientRouter, fade } from "astro:transitions";
import SiteHeader from "@lib/components/SiteHeader.astro";
import Main from "@lib/components/Main.astro";

interface Props {
  title: string;
  fullScreen?: boolean;
}

const { title, fullScreen } = Astro.props;

import fontUrl from "@fontsource-variable/inter/files/inter-latin-wght-normal.woff2?url";
---

<html lang="en" transition:animate={fade({ duration: 300 })} data-fullscreen={fullScreen}>
  <head>
    <ClientRouter fallback={"swap"} />

    <meta charset="utf-8" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preload" as="font" href={fontUrl} />

    <style>
      @font-face {
        font-family: "Inter Variable";
        font-style: normal;
        font-display: swap;
        font-weight: 100 900;
        src: url(@fontsource-variable/inter/files/inter-latin-wght-normal.woff2) format("woff2-variations");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
          U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }

      body {
        font-family: "Inter Variable", sans-serif;
      }
    </style>

    <title>{title}</title>
  </head>
  <body>
    <SiteHeader>
      <Nav />
    </SiteHeader>
    <Main>
      <slot />
    </Main>
  </body>
</html>
