---
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout title="bla">
  <main class="wrapper">
    <slot />
  </main>
</BaseLayout>

<style>
  main {
    display: grid;
    gap: 16px;
  }
  @media screen and (min-width: 608px) {
    main {
      /* grid-template-columns: repeat(auto-fit, minmax(128px, 1fr)); */
      grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
      justify-content: center;
      grid-auto-rows: 64px;
      grid-auto-flow: row dense;
    }
    :global(main > *) {
      grid-row: span 4;
      grid-column: span 2;
      /* margin: 16px; */
    }
  }
  @media screen and (max-width: 608px) {
    main {
      grid-auto-rows: 192px;
    }
    :global(main > *) {
      grid-column: span 1 !important;
      grid-row: span 1 !important;
      text-align: left !important;
    }
  }
</style>
