---

---

<div class="text">
    <span>Marcus<br />Aldrin</span>
</div>

<style>
    .text {
        /* gap: 8px; */
        /* align-self: center; */

        white-space: nowrap;

        /* position: absolute;
        top: 0; */
        border-radius: 4px;

        background-color: hsla(var(--color-offset), 1);
        /* border: 1px hsl(var(--color-secondary)) solid; */
        padding: 4px 8px;
        font-size: 14px;
    }

    .text {
        word-spacing: initial;
        text-transform: uppercase;
        line-height: 0.8;
        color: hsl(var(--color-light));
        font-weight: 200;
        font-style: italic;
    }
    .text span {
        display: inline-block;
        transform: translate(-1px, 1px);
    }

    /* .text span {
        word-spacing: initial;
        transform: translateY(1.2px);
        display: inline-block;
        text-transform: uppercase;
        text-shadow:
            0 2px 0 hsl(var(--color-offset)),
            0 4px 0 hsl(var(--color-secondary)),
            0 6px 0 hsl(var(--color-ternary));
    } */
</style>
