---

---

<div class="text">
  <div>
    <span>Marcus</span>
    <br />
    <span>Aldrin</span>
  </div>
</div>

<style>
  .text {
    border-radius: 4px;

    /* background-color: hsla(var(--color-offset), 1); */
    /* background-color: hsla(var(--color-dark), 1); */
    /* color: inherit; */
    background-color: currentColor;
    padding: 6px 10px;
    font-size: 14px;

    position: relative;

    word-spacing: initial;
    text-transform: uppercase;
    line-height: 0.9;
    font-weight: 500;
    font-style: italic;
    white-space: nowrap;
  }

  .text > div > :last-child {
    letter-spacing: 0.2ex;
  }

  .text > div {
    color: hsl(var(--color-light));
    /* transform: translateY(1px); */
  }
</style>
