---

---

<div class="text">
    <span>Marcus<br />Aldrin</span>
    <!-- <button popovertarget="about-me">Marcus<br />Aldrin</button>
    <div popover id="about-me">me me me</div> -->
</div>

<style>
    .text {
        white-space: nowrap;

        border-radius: 4px;

        background-color: hsla(var(--color-offset), 1);
        padding: 4px 8px;
        font-size: 14px;

        position: relative;
    }

    /* .text:hover {
        background-color: hsl(var(--color-ternary));
    } */

    .text {
        word-spacing: initial;
        text-transform: uppercase;
        line-height: 0.8;
        color: hsl(var(--color-light));
        font-weight: 200;
        font-style: italic;
    }
    .text span {
        display: inline-block;
        transform: translate(-1px, 1px);
    }
    /* button {
        display: inline-block;
        text-align: start;
        text-transform: uppercase;
        color: inherit;
        border: none;
        font-style: italic;
        padding: 0;
        font-size: 14px;
        font-weight: 200;
        font-family: inherit;
        line-height: 0.8;
        transform: translate(-1px, 1px);
    } */
</style>
