---
const url = Astro.url;

type TopPaths = '/' | '/works/' | '/generative/';

const paths: { path: TopPaths; name: string }[] = [
  // { path: "/", name: "home" },
  { path: '/works/', name: 'works' },
  { path: '/generative/', name: 'directives' },
];

const re = /\/works\/.+/;
const work = re.test(url.pathname);
const gen = /\/gen\/.+/.test(url.pathname);
---

<nav id="main-nav">
  <div class="links">
    {
      paths.map(({ name, path }) => {
        const worksSubDir = work && path == '/works/';
        const genSubDir = gen && path == '/generative/';

        return (
          <a
            href={path}
            aria-current={url.pathname == path ? 'page' : null}
            icon-variant={worksSubDir || genSubDir}
            title={name}
            font-style={(url.pathname == path && true) || null}
            class={url.pathname == path ? 'font-italic' : ''}
          >
            {name}
          </a>
        );
      })
    }
  </div>
</nav>

<style>
  nav {
    display: flex;
    overflow: visible;
    z-index: 10;
  }

  .links {
    margin-inline-start: auto;
    display: flex;
    gap: 8px;
  }

  a[aria-current='page'] {
    color: hsl(var(--color-offset));
  }

  a {
    transition: color 75ms ease;
    text-transform: uppercase;
  }
  span {
    font-weight: 200;
    opacity: 0.5;
  }
  ul {
    display: flex;
    gap: 8px;
    flex-shrink: 0;
  }

  [aria-current='page'] {
    color: hsl(var(--color-offset));
  }
</style>
