---
import Logo from "./Logo.astro";
import Social from "./Social.astro";
const { pathname } = Astro.url;
---

<header transition:animate="none">
  <a href="/" aria-current={pathname == "/" ? "page" : null}>
    <Logo />
  </a>
  <span class="dot">&#9679;</span>
  <slot />
  <span class="dot">&#9679;</span>
  <Social />
</header>

<style>
  a {
    text-decoration: none;
  }
  a[aria-current="page"] {
    color: hsl(var(--color-offset));
  }
  .dot {
    font-size: 8px;
  }
  header {
    position: relative;
    contain: paint;

    padding: 8px 16px;

    align-self: center;
    margin-inline: auto;

    box-shadow: 0 0 8px 2px hsla(var(--color-dark), 0.05);
    border: 1px hsl(var(--color-dark), 0.5) dashed;

    display: flex;
    align-items: center;
    gap: 32px;
  }

  header::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;

    transform-origin: center bottom;
    transform: scale(1, 0);

    background-color: hsl(var(--color-secondary));
    z-index: 0;
  }

  @media (max-width: 460px) {
    header {
      flex-direction: column;
      gap: 4px;
      border: none;
      box-shadow: none;
    }
  }
</style>
